
/* general */
h1 {
  margin-top: 10px;
  font-family: 'Satisfy', cursive;
  color:hsl(350, 100%, 61%);
}

a {
  color:hsl(0, 100%, 68%);
  text-decoration: none;
}

a:hover {
  color: #ec96a4;
}

p {
  font-weight: 600;
}

.darkcol {
  background-color: hsl(4, 23%, 20%);
  padding: 100px;
  font-weight: 600;
 
}
.whitecol {
  background-color: hsl(4, 23%, 90%);
  padding: 100px;
  font-weight: 600;
}

i {
  padding-right: 5px;
  font-size: 20px;
}


/*  navbar */
.navbar {
  background-color:hsl(4, 23%, 20%);
  border-color: hsl(350, 100%, 68%) !important;
  box-shadow: 0 8px 6px -6px 
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 2em; 
  color: hsl(350, 100%, 68%) !important;
  margin-left: 20px;
}
.nav-link:hover {
  color: #ec96a4 !important;
  text-decoration: none;
}
.nav-link {
  color: white !important;
}


/* front page */
.page-holder {
  background-size: cover !important;
    min-height: 50vh;
    background-image: url('pictures/background.jpg');
    background-attachment:fixed ;
    background-position: center;
     background-repeat: no-repeat;
  }
    
  #main {
  background:rgba(236, 150, 164, 0.4);
  padding: 50px;
  }


  /*  Features section */
.secondrow li{padding-left: 10px;}


/*  screenshots */
.card-text {
  text-align: center;
  color: aliceblue;
 }

.card {
  background-color:rgba(236, 150, 164, 0.6);
  margin: 10px;
  padding: 0px;
  }

.carousel-icon {
  color: hsl(350, 100%, 68%);
  font-size: 3em;
}

#screenshots {padding-top: 100px;}

#screenshots .title {
  background-color: rgba(236, 150, 164, 0.6);
  color:white;
  padding:10px;
  
}
.modal-content {
  text-align: center;
  background-color:whitesmoke;
  color: hsl(350, 100%, 68%);
 
}



/*  download section */
.accordionLogo{margin-right: 10px;}

.accordion-button {font-weight: 600 !important;}


/* spacer */
.spacer {min-height:200px;}

/*  footer */
.footer {
  background-color:hsl(4, 23%, 20%);
  border-color: hsl(350, 100%, 68%) !important;
  padding: 20px; 
  font-weight: 600; 
}
.ending {
  font-size: 0.8em;
}




