
/* general */
h1 {

  font-family: 'Satisfy', cursive;
  color:hsl(350, 100%, 61%);
  
}

a {
  color:hsl(0, 100%, 68%);
  text-decoration: none;
}

a:hover {
  color: #ec96a4;
}

p {
  font-weight: 600;
}

.darkcol {
  background-color: hsl(4, 23%, 20%);
  font-weight: 600;
 
}
.darkcol h1 {text-shadow: 2px 2px 5px rgb(32, 32, 32);

}
.whitecol {
  background-color: hsl(4, 23%, 90%);
  font-weight: 600;
}
.whitecol h1 {text-shadow: 2px 2px 5px rgb(180, 180, 180);

}

i {
  padding-right: 5px;
  font-size: 20px;
}


/*  navbar */
.navbar {
  background-color:hsl(4, 23%, 20%);
  border-color: hsl(350, 100%, 68%) !important;
  box-shadow: 0 8px 6px -6px 
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  color: hsl(350, 100%, 68%) !important;
  font-size: 2rem;
  margin-left: 20px;
}

.nav-link:hover {
  color: #ec96a4 !important;
  text-decoration: none;
}

.nav-link {
  color: white !important;
  margin-left:2rem;
}


/* front page */
.page-holder {
  background-size: cover !important;
    background-image: url('pictures/background.jpg');
    background-attachment:fixed ;
    background-position: center;
     background-repeat: no-repeat;
  }
    
  #main {
  background:rgba(236, 150, 164, 0.4);
 
  }


  /*  Features section */
.secondrow li{padding-left: 10px;}


/*  screenshots */
.card-text {
  text-align: center;
  color: white;
  
 }

.card {
  background-color:hsl(4, 23%, 20%);
  padding: 0px;
  
 
  }

.modal-content {
  text-align: center;
  background-color:hsl(4, 23%, 90%);
  color: black;
 
}

.owl-prev i:hover,
.owl-next i:hover{
  color: hsl(350, 100%, 68%) !important;
  
}
  
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}
.owl-prev i,
.owl-next i {
  
  color: white;
  text-shadow: 2px 2px 5px rgb(180, 180, 180);
  font-size: 3em !important;

}

.owl-prev {
  left: -3rem;
}

.owl-next {
  right: -3rem;
}


/*  download section */
.accordionLogo{margin-right: 10px;}

.accordion-button {font-weight: 600 !important;}



/*  footer */
.footer {
  background-color:hsl(4, 23%, 20%);
  border-color: hsl(350, 100%, 68%) !important;
  padding: 20px; 
  font-weight: 600; 
}
.ending {
  font-size: 0.8em;
}

/* responsiveness */
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
    }
    .navbar-brand{

    font-size: calc(1.1rem + 0.9vw);
  }
  h2,
  .h2 {
    font-size: calc(1.0rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}
