@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* general */
h1 {
  margin-top: 10px;
  font-family: 'Satisfy', cursive;
  color:hsl(350, 100%, 61%);
  

}
a {
  color:hsl(0, 100%, 68%);
  text-decoration: none;
}
a:hover {
  
  text-decoration: underline;
  color: #ec96a4;
}
p {
  font-weight: 600;
}

.darkcol {
  background-color: hsl(4, 23%, 20%);
  
  padding: 100px;
  font-weight: 600;
 
}
.whitecol {
  background-color: hsl(4, 23%, 90%);
  padding: 100px;
  font-weight: 600;
 
}
i {
  padding-right: 5px;
  font-size: 20px;
  /* color: hsl(350, 100%, 68%); */
}




/*  navbar */
.navbar {
  background-color:hsl(4, 23%, 20%);
  border-color: hsl(350, 100%, 68%) !important;
  box-shadow: 0 8px 6px -6px 
  
 
}


.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 2em; 
  color: hsl(350, 100%, 68%) !important;
  margin-left: 20px;
}



/* front page */
.page-holder {
  background-size: cover !important;
    min-height: 50vh;
    background-image: url('pictures/background.jpg');
    background-attachment:fixed ;
    background-position: center;
     background-repeat: no-repeat;
   
  }
    
  #main {
    
  background:rgba(236, 150, 164, 0.4);
  padding: 50px;
 
  
  }

  /*  Features section */



  
  .secondrow li{
      
    padding-left: 10px;
  }

 

  /*  download section */

   
    
  .accordionLogo{
    margin-right: 10px;
}
.accordion-button {
  font-weight: 600 !important;
  
}

/*  screenshots */

.card-text {
  text-align: center;
  color: aliceblue;
 
}
.card {
  background-color:rgba(236, 150, 164, 0.4); ;
}

.carousel-icon {
  color: hsl(350, 100%, 68%);
  font-size: 3em;
}
#screenshots {
  padding-top: 100px;
 

}

#screenshots h1 {
  background-color: rgba(236, 150, 164, 0.6);
  color:white;
  padding: 10px;
}

